{% set libreoffice = salt['grains.filter_by']({
    'Ubuntu': {
        'name': 'libreoffice',
    },
    'Debian': {
        'name': 'libreoffice',
    },
}, merge=salt['pillar.get']('libreoffice:lookup')) %}
